In [1]:
import pandas as pd

In [6]:
full_df = pd.read_csv('../dataset/complete_dataset.csv')
full_df.drop_duplicates(subset=['IMDB_ID'], inplace=True)
full_df.dropna(subset=['text', 'filename'], inplace=True)

/Users/lennartkeller/opt/anaconda3/envs/clustering/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (0,1,3,5,6,7,8,9,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
full_df = full_df[(full_df.titleType == 'movie') | (full_df.titleType == 'tvEpisode')]

In [17]:
full_df.shape

(17042, 19)

# 1. Sample
Dataframe with size of 20% of original dataframe containing both movies and tvEpisodes

In [22]:
df = full_df.sample(frac=0.2, random_state=42)

In [23]:
df.shape

(3408, 19)

In [24]:
full_df.groupby('titleType').describe()

              year                                                         \
             count         mean       std     min     25%     50%     75%
titleType
movie       3729.0  2012.211585  3.044557  1943.0  2010.0  2012.0  2014.0
tvEpisode  13271.0  2012.016954  9.032309  1191.0  2010.0  2013.0  2015.0

                   isAdult            ... averageRating       numVotes  \
              max    count      mean  ...           75%   max    count
titleType                             ...
movie      2017.0   3729.0  0.000268  ...           6.8   8.9   3725.0
tvEpisode  2017.0  13313.0  0.000000  ...           8.5  10.0  13025.0


                   mean            std  min    25%     50%      75%        max
titleType
movie      49449.579329  117554.131070  5.0  969.0  5323.0  38783.0  1963119.0
tvEpisode   1568.946334    4243.414407  5.0  231.0   661.0   1611.0   185434.0

[2 rows x 48 columns]

In [25]:
df.groupby('titleType').describe()

             year                                                         \
            count         mean       std     min     25%     50%     75%
titleType
movie       766.0  2012.263708  2.508217  1994.0  2011.0  2012.0  2014.0
tvEpisode  2631.0  2012.071836  5.674284  1961.0  2010.0  2013.0  2015.0

                  isAdult       ... averageRating      numVotes                \
              max   count mean  ...           75%  max    count          mean
titleType                       ...
movie      2017.0   766.0  0.0  ...           6.9  8.4    764.0  49364.157068
tvEpisode  2017.0  2642.0  0.0  ...           8.5  9.9   2572.0   1586.441680


                     std  min      25%     50%      75%       max
titleType
movie      109345.599851  5.0  1162.50  5719.5  37082.0  898576.0
tvEpisode    3941.237801  5.0   232.75   679.0   1636.0   82422.0

[2 rows x 48 columns]

In [28]:
df.to_csv('../dataset/complete_dataset_sample.csv')

# 2. Sample

Dataframe containing only Movies but no downsampling is applied

In [26]:
movies = full_df = full_df[(full_df.titleType == 'movie')]

In [27]:
movies.shape

(3729, 19)

In [29]:
movies.to_csv('../dataset/movies.csv')